<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>playable-judgement-website</title>
        <link rel="stylesheet" href={{url_for('static', filename='css/lobbypage.css')}}>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div class="content">
            <h1>Lobby ID: {{lobby_id}}</h1>
            
            <div class="rounds">
                <label for="roundstart">Enter starting round number of cards in hand: </label>
                <input type="text" id="roundstart" placeholder="1-10"><br>
            </div>
            
            <div class="mode">
                <input type="radio" id="modeup" name="mode">
                <label for="modeup">Play rounds down and up</label><br>
                <input type="radio" id="modedown" name="mode">
                <label for="modedown">Play rounds going down only</label><br>
            </div>
            
            <div class="start-button">
                <button type="submit" name="join">Start Game</button>
            </div>

            <div class="messages" id="messages"></div>

            <script type="text/javascript">
                var socketio = io();
    
                const messages = document.getElementById("messages");
    
                const createMessage = (name, msg) => {
                    const content = `
                    <div class="text">
                        <span>
                            <strong>${name}</strong> ${msg}
                        </span>
                    </div>
                    `;
                    messages.innerHTML += content;
                };
    
                socketio.on("message", (data) => {
                    createMessage(data.name, data.message);
                });
            </script>
        </div>

        <!--
        <input type="radio" id="standard" name="deck">
        <label for="standard">Standard Deck</label><br>
        <input type="radio" id="custom" name="deck">
        <label for="custom">Custom Deck</label><br>

        <div class="customcards">
            <input type="checkbox" id="Spades">
            <label for="Spades">Spades</label><br>
            <input type="checkbox" id="Hearts">
            <label for="Hearts">Hearts</label><br>
            <input type="checkbox" id="Clubs">
            <label for="Clubs">Clubs</label><br>
            <input type="checkbox" id="Diamonds">
            <label for="Diamonds">Diamonds</label><br>

            <input type="checkbox" id="Ace">
            <label for="Ace">A</label><br>
            <input type="checkbox" id="King">
            <label for="King">K</label><br>
            <input type="checkbox" id="Queen">
            <label for="Queen">Q</label><br>
            <input type="checkbox" id="Jack">
            <label for="Jack">J</label><br>
            <input type="checkbox" id="Ten">
            <label for="Ten">10</label><br>
            <input type="checkbox" id="Nine">
            <label for="Nine">9</label><br>
            <input type="checkbox" id="Eight">
            <label for="Eight">8</label><br>
            <input type="checkbox" id="Seven">
            <label for="Seven">7</label><br>
            <input type="checkbox" id="Six">
            <label for="Six">6</label><br>
            <input type="checkbox" id="Five">
            <label for="Five">5</label><br>
            <input type="checkbox" id="Four">
            <label for="Four">4</label><br>
            <input type="checkbox" id="Three">
            <label for="Three">3</label><br>
            <input type="checkbox" id="Two">
            <label for="Two">2</label><br>
        </div>
        TODO Add only show customdeck options when custom deck is selected
        TODO Check that the custom deck has enough cards for the round number and players
        -->

    </body>
</html>