<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>playable-judgement-website</title>
        <link rel="stylesheet" href={{url_for('static', filename='css/mainpage.css')}}>
    </head>
    <body>
        <div class="content">
            <form method="post" class="buttons">
                <h1>Online Judgement</h1>
                <div>
                    <label>Name:</label>
                    <input type="text" name="name" 
                        {% if error_name %}
                            placeholder="{{error_name}}"
                        {% endif %}
                    value="{{name}}"/>
                </div>
    
                <div class="join">
                    <input type="text" 
                        {% if error_code %}
                            placeholder="{{error_code}}"
                        {% endif %}
                        {% if not error_code %}
                            placeholder="Room Code"
                        {% endif %}
                    name="code" value="{{code}}"/>
                    <button type="submit" name="join">Enter Private Room ID</button>
                </div>
    
                <button type="submit" name="create" class="create">Create Private Room</button>
            </form>
        </div>
    </body>
</html>